# Functions in Python

1. Why Functions
2. Functional Defintions 
3. Positional and Keyword Arguments in Funtions

In [1]:
def even_odd(num):
    if num%2==0:
        return "The number is even."
    else:
        return "The number is odd."

In [2]:
even_odd(25)

'The number is odd.'

In [3]:
#Print vs Return 
def printing():
    print("Hello World")

def returning():
    return "Hello World"

In [4]:
val1=printing()
val2=returning()

Hello World

In [5]:
#Print statement when assigned to a variable does not return anything but a return statement does.

In [22]:
#Here name is a postional argument and age is the keyword argument
def hello(name,age=23):
    print("My name is {} and my age is {}".format(name,age))

In [10]:
ola=hello("chetan")

My name is chetan and my age is 23

In [16]:
ola

AttributeError: 'NoneType' object has no attribute 'dtype'

In [11]:
def hello1(name, age=23):
    return "Thy name is {} and thy age is {}".format(name,age)

In [20]:
ava=hello1('chetan')

In [21]:
ava

'Thy name is chetan and thy age is 23'

In [23]:
## args and kwargs 
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [25]:
hello('Chetan','Choudhary',dob='18-10-1999',age =21)

('Chetan', 'Choudhary')
{'dob': '18-10-1999', 'age': 21}

In [29]:
lst=['Chetan', 'Choudhary']
kw_dict={'dob': '18-10-1999', 'age': 21}

In [32]:
def hello(*lst,**kw_dict):
    print(lst)
    print(kw_dict)

In [34]:
hello(*lst,**kw_dict)

('Chetan', 'Choudhary')
{'dob': '18-10-1999', 'age': 21}

In [35]:
lst=[1,2,3,4,5,6,7,8,9]

In [36]:
def even_odd_sum(lst):
    even_sum=0
    odd_sum=0
    
    for i in lst:
        if i%2==0:
            even_sum+= i
        else:
            odd_sum+= i 
    return even_sum,odd_sum

In [37]:
even_odd_sum(lst)

(20, 25)

# Map functions in Python

In [38]:
def even_odd(num):
    if num%2==0:
        return "The number {} is even.".format(num)
    else:
        return "The number {} is odd.".format(num)

In [40]:
even_odd(25)

'The number 25 is odd.'

In [41]:
lst=[1,2,4,5,6,7,8,43,34,56,76]

In [44]:
list(map(even_odd,lst))

['The number 1 is odd.',
 'The number 2 is even.',
 'The number 4 is even.',
 'The number 5 is odd.',
 'The number 6 is even.',
 'The number 7 is odd.',
 'The number 8 is even.',
 'The number 43 is odd.',
 'The number 34 is even.',
 'The number 56 is even.',
 'The number 76 is even.']

# Lambda Functions

Works faster than normal functions 

These are anonymus functions.

In [48]:
#def addition(a,b):
#    return a+b
#addition(5,6)

In [49]:
addition = lambda a,b:a+b

In [50]:
addition(12,12)

24

In [51]:
even = lambda a:a%2==0
even(29)

False

In [58]:
addi = lambda x,y,z : x+y+z
addi(4,5,3)

12

# Filter functions

In [59]:
def even_num(num):
    if num%2==0:
        return True

In [60]:
lst=[1,2,3,4,5,6,7,8,9]

In [61]:
list(filter(even_num,lst))

[2, 4, 6, 8]

In [65]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8]

In [64]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False]

# List Comprehensions

These provide a concise way to create lists.

In [67]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [68]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [86]:
ls1 = [i*i for i in lst if i%2!=0]

In [87]:
lst=[5,6,7,8,9,10]
print(ls1)

[25, 49, 81]

# String Formatting

In [88]:
def greetings(name,age):
    return "Hello {}, Your age is {}.".format(age,name)

# In the above function the placeholders are postion dependent but we can also use temporary variables 
# to make the placeholders postion independant

def greetings1(name,age):
    return "Hello {name1}, Your age is {age1}.".format(age1=age, name1=name)

In [90]:
greetings('Chetan',23)

'Hello 23, Your age is Chetan.'

In [91]:
greetings1("Chetan",23)

'Hello Chetan, Your age is 23.'

# List Iterators vs Iterables

In [92]:
# List is iterable
lst=[1,2,3,4,5,6,7]

for i in lst:
    print(i)

1
2
3
4
5
6
7

In [94]:
lst1=iter(lst)

In [95]:
#Iterators all the values will be stored n the memory it will happen when the next() ib-built function is called it is done one by one
lst1

In [96]:
next(lst1)

1

Both iterators and iterables can be implemented and the values can be retreived
We use iterators when there are a lot of elements in the list so for each elements will get initialsed in the list it will take memory
So if we use iterators it would not require that much memory as unless we intitialize that element it will not get stored into the memory.

So, if we want to convert a list(iterable) into an iterator we use the iter() function we can also use generators to 

When we use next() on the last element it gives us a StopIteration Exceptions